* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, li{
  text-decoration: none;
  color: black;
  list-style-type: none;
}
.center-10{
  padding: 0 10%;

}
.center-5 {
  padding: 0 5%;
}

/* regole di debug */
[class*="col-"] {
  /* min-height: 50px; */
  /* background-color: lightgreen; */
  /* border: solid 1px  #000; */
}

/* HEADER */
header {
  padding-top: 80px;
}
#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  padding: 20px 10%;
  background-color: white;
}
#logo > a {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 5px;
}
#navigation-menu {
  padding: 5px;
  text-align: right;
}
#navigation-menu li {
  display: inline-block;
  margin: 0 8px;
}
#navigation-menu li a {
  font-size: 15px;
}
#nav-mobile {
  display: none;
}
#jumbo {
  padding-top: 150px;
  min-height: 70vh;
  text-align: center;
  color: white;
  background-image: url("../img/jumbotron-bg.webp");

}
#jumbo h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
#jumbo p {
  font-size: 22px;
  margin-bottom: 20px;
}
#jumbo a img {
  width: 25%;
}


/* CORPO PAGINA */

/* SEZIONE PRODOTTI */
#product {
  margin: 40px 0;
  /* debug */
  /* min-height: 500px;
  background-color: yellow;
  border: 1px solid black; */
}
#product .box {
  width: 90%;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
#product .box .txt-info h1 {
  font-size: 40px;
  letter-spacing: 3px;
}
#product .box .txt-info p {
  font-size: 25px;
  margin: 20px 0;
}
#product .box .txt-info a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,112,200);
}
#product .box .txt-info img {
  margin: 20px 0 0 0;
  max-width: 90%;
}

/* SEZIONE HOW-TO */
#howto {
  height: 50vh;
  background-image: url("../img/howto-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#howto img {
  padding: 6% 0;
  max-width: 60%;
}
#howto .center-5 > div:nth-child(2)  {
  text-align: center;
}
#howto .txt {
  margin-top: 60vh;
  margin-right: 20px;
}
#howto .txt .title {
  padding-left: 60%;
  font-size: 30px;
}
#howto #steps {
  font-size: 15px;
  color: #212529;
  padding: 20px 20px
}

/* SEZIONE SMART MOBILITY */
#smart-mobility {
  margin-top: 15%;
}
#smart-mobility .row > div:first-child {
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
  margin-bottom: 30px;
}
#smart-mobility .row > div:nth-child(2) {
  background-color: #4f5c67;
}
#smart-mobility .cta {
  text-align: center;
  color: white;
}
#smart-mobility .cta h1 {
  margin-top: 20px;
  font-size: 50px;
}
#smart-mobility .cta p {
  margin: 25px 0;
  font-size: 20px;
}
#smart-mobility .cta a {
  display: block;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
#smart-mobility #smart {
  padding: 20% 0;
  width: 50%;
  margin: auto;
}
#smart-mobility #app .cta-app {
  text-align: center;
  margin-top: 30px;
}
#smart-mobility .row .cta-app img {
  max-width: 40%;
}
#app {
  border-left: 15px solid white;
}
#find-us {
  background-image: url("../img/find-us-bg.jpg");
  min-height: 300px;
}
