* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, li{
  text-decoration: none;
  color: black;
  list-style-type: none;
}
.center-10{
  padding: 0 10%;

}
.center-5 {
  padding: 0 5%;
}

/* regole di debug */
[class*="col-"] {
  /* min-height: 50px; */
  /* background-color: lightgreen; */
  /* border: solid 1px  #000; */
}

/* HEADER */
header {
  padding-top: 80px;
}
#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  padding: 20px 10%;
  background-color: white;
}
#logo > a {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 5px;
}
#navigation-menu {
  padding: 5px;
  text-align: right;
}
#navigation-menu li {
  display: inline-block;
  margin: 0 8px;
}
#navigation-menu li a {
  font-size: 13px;
}
#nav-mobile {
  display: none;
}
@media all and (max-width:992px) {
  #navigation-menu {
    display: none;
  }
  #nav-mobile {
    z-index: 1000;
    display: block;
    position: fixed;
    top: 20px;
    right: 5px;
    width: 30px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
  }
  #nav-mobile span {
    display: block;
    height: 4px;
    margin: 2px 0;
    background-color: black;
  }
}
#jumbo {
  min-height: 70vh;
  color: white;
  background-image: url("../img/jumbotron-bg.jpg");
  background-size: cover;
  background-position: center;
}
#jumbo .row > div {
  position: relative;
}
#jumbo .cta {
  width: 90%;
  margin: 0 auto;
  padding-top: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#jumbo h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
#jumbo p {
  font-size: 22px;
  margin-bottom: 20px;
}
#jumbo a img {
  width: 25%;
}


/* CORPO PAGINA */

/* SEZIONE PRODOTTI */
#product {
  margin: 40px 0;
  /* debug */
  /* min-height: 500px;
  background-color: yellow;
  border: 1px solid black; */
}
#product .box {
  width: 90%;
  margin: 0 auto;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
}
#product .box .txt-info h1 {
  font-size: 40px;
  letter-spacing: 3px;
}
#product .box .txt-info p {
  font-size: 25px;
  margin: 20px 0;
}
#product .box .txt-info a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,112,200);
}
#product .box .txt-info img {
  margin: 20px 0 0 0;
  max-width: 90%;
}
@media all and (max-width:768px) {

  #product .box {
    margin: 20px 0;
  }

}
/* SEZIONE HOW-TO */
#howto {
  height: 50vh;
  background-image: url("../img/howto-section-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#howto img {
  padding: 6% 0;
  max-width: 60%;
}
#howto .center-5 > div:nth-child(2)  {
  text-align: center;
}
#howto .txt {
  margin-top: 60vh;
  margin-right: 20px;
}
#howto .txt .title {
  padding-left: 60%;
  font-size: 30px;
}
#howto #steps {
  font-size: 15px;
  color: #212529;
  padding: 20px 20px
}
/* MOBILE */
@media all and (max-width:768px) {
  #howto img {
    padding: 6% 0;
    max-width: 30%;
  }
  #howto .txt {
    margin-top: 0;
    margin-right: 0;
    text-align: center;
  }
  #howto .txt .title {
    padding-left: 0;
    font-size: 30px;
  }
}
/* TABLET */
@media all and (min-width:769px) and (max-width:992px) {
  #howto img {
    padding: 50% 0;
    max-width: 60%;
  }
  #howto .center-5 > div:nth-child(2)  {
    text-align: center;
  }
  #howto .txt {
    margin-top: 60vh;
    margin-right: 20px;
  }
  #howto .txt .title {
    padding-left: 60%;
    font-size: 30px;
  }
}


/* SEZIONE SMART MOBILITY */
#smart-mobility {
  margin-top: 15%;
}
#smart-mobility .row > div:first-child {
  background-image: url("../img/scooter-bg.jpg");
  background-size: cover;
  margin-bottom: 30px;
}
#smart-mobility .cta {
  text-align: center;
  color: white;
}
#smart-mobility .cta h1 {
  margin-top: 20px;
  font-size: 50px;
}
#smart-mobility .cta p {
  margin: 25px 0;
  font-size: 20px;
}
#smart-mobility .cta a {
  display: block;
  font-size: 20px;
  color: white;
  margin-bottom: 30px;
}
#smart-mobility #smart {
  padding: 20% 0;
  width: 50%;
  margin: auto;
}
#smart-mobility #app .cta-app {
  text-align: center;
  margin-top: 30px;
}
#smart-mobility .row .cta-app img {
  max-width: 40%;
}
#smart-mobility .row .txt-info {
  width: 99%;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  overflow:hidden;
}
#smart-mobility .row .txt-info,
#smart-mobility .row .txt-info a {
  color: white;
}
#smart-mobility .row .txt-info > * {
  margin: 15px 0;
}
#smart-mobility .row .txt-info h1 {
  font-size: 40px;
}
#smart-mobility .row .txt-info p {
  font-size: 25px;
}
#smart-mobility .row .txt-info a {
  font-size: 20px;
  margin: 0 15px;
}
#iphone-app .box,
#find-us .box {
  margin: 0 auto;
}
#iphone-app {
  padding-right:20px;
}
#iphone-app .box {
  background: linear-gradient(0deg, rgba(2,0,36,0.9164799708946079) 0%, rgba(79,92,103,1) 57%, rgba(77,89,101,1) 93%);
}
#find-us {
  padding-left: 20px;
}
@media all and (max-width:768px) {
  #iphone-app {
    padding-right: 0;
    margin-bottom: 10px;
  }
  #find-us {
    padding-left: 0;
  }
}

#find-us .box {
  background-image: url("../img/find-us-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


/*  HELBIZ FAMILY  */
#helbiz-family {
  margin: 20px 0;
  /* debug */
  background-image: url("../img/pachwork.jpg");
  background-color: blue;
  min-height: 350px;
  position: relative;
}
#helbiz-family .row .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px 80px;
  font-size: 25px;
  background-color: white;
}
#helbiz-family .row .txt h1 {
  font-weight: normal;
  margin-bottom: 10px;
}
#helbiz-family .row .txt .fab {
  margin: 0 10px;
  font-size: 30px;
}


/*  FOOTER */
footer {
  background-color: black;
}
footer .row:first-child {
  padding-top: 60px;
}
footer a,
footer h1,
footer h4 {
  color: white;
}
footer .row div {
  padding: 20px 5px;
}
footer .txt.logo {
  padding: 0;
  margin: 0;
}
footer > .row ul li {
  margin: 15px 0;
}
footer > .row ul li a{
  color: grey;
}
@media all and (max-width:768px) {
  footer {
    text-align: center;
  }
  footer .row div {
    padding: 10px 5px;
  }
}
footer #social .txt .fab{
  width: calc((100% / 5) - 5px);
  text-align: center;
  font-size: 20px;
}
footer .row:last-child {
  text-align: center;
}
footer .row:nth-child(2) {
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}
footer .txt a img {
  max-width: 10%;
  border: 1px solid #484848;
  border-radius: 10px;
  margin: 0 10px;
}
